<div class="footer">
    <div class="pull-right">
        WaterStock project SummerCamp 2015
    </div>
    <div>
        <strong>Copyright</strong> SummerCamp | Trasys Team &copy; 2015
    </div>
</div>
